/* 前提 */
body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #2b2c34;
  background-color: #fffffe; /* ffffef*/
  font-size: 1.0em;
  line-height: 1;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  color: #2b2c34;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}



/* 共通クラス --------------------------------------------------*/
.title {
  margin: 56px 0;
}
.title h2 {
  font-size: 2.5em;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.title hr {
  margin-top: 16px;
  width: 20%;
  height: 0.4em;
  background-color: #e45858;
  border: none;
}


.container {
  max-width: 1080px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .title h2 {
    font-size: 1.2em;
  }
}


/* ヘッダー --------------------------------------------------*/
#head {
  display: flex;
  height: 80px;
}
#head h1 {
  margin: auto 0;
  font-size: 3.25em;
}
#head img {
  width: 80px;
}
#head #sitetitle {
  margin-left: 40px;
}

nav {
  background-color: #d1d1e9;
}
nav ul {
  display: flex;
  gap: 4%;
  justify-content: center;
}
nav li {
  padding: 16px 24px;
}

#hero {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 50% 0%;
}
header h2 {
  margin: 0;
  line-height: 0;
}
@media screen and (max-width: 900px) {
  #head {
    height: 64px;
  }
  #head img {
    width: 64px;
  }
  #head h1 {
    font-size: 3em;
  }
  nav ul {
    gap: 0;
    padding: 0 4%;
    justify-content: space-between;
  }
  nav li {
    font-size: 0.25em;
    padding: 16px 4px;
  }
}




/* tool --------------------------------------------------*/
#tool {
  display: flex;
}
.toolinner {
  text-align: center;
  width: 50%;
}
.toolinner h2 {
  color: #fffffe;
  border-bottom: #fffffe solid 3px;
  font-size: 2.5em;
  margin: 0 auto;
  padding: 24px;
}
.toolinner ul {
  padding-top: 40px;
}
.toolinner li a {
  display: inline-block;
  background-color: #fffffe;

  width: 40%;
  /* height: 24px; */
  padding: 32px;
  margin: 16px auto;
  font-size: 1.5em;
}
.toolinner p {
  display: inline-block;
  margin-left: 60%;
}
.toolinner p a {
  text-decoration: underline;
  color: #fffffe;
}


#send {
  background-color: #e45858;
  border-right: #fffffe solid 3px;
}
#send li a {
  color: #e45858;
}
#recieve {
  background-color: #6246ea;
}
#recieve li a {
  color: #6246ea;
}

@media screen and (max-width: 900px) {
  #tool {
    font-size: 0.5em;
  }
  #toolinner li a {
    height: 24px;
  }
}




/* 各種サービス ----------------------------------------------*/
.serviceinner {
  width: 60%;
  margin: 8% auto;
}
.serviceinner h3 {
  font-size: 1.5em;
}
.serviceinner h4 {
  font-size: 1.25em;
  margin: auto 0;
}
.serviceinner p {
  font-size: 1.25em;
  line-height: 1.5;
  padding-left: 4%;
  padding-bottom: 3%;
  border-left: #d1d1e9 solid 16px;
  border-bottom: #d1d1e9 solid 2px;
}
.serviceinner span {
  color: #e45858;
  margin-right: 6px;
}

.servicecontent {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .serviceinner {
    font-size: 0.5em;
  }
}


/* 配送の流れ --------------------------------------------------------*/
#process {
  margin: 200px 0;
}
#processouter {
  width: 60%;
  margin:0 auto;
}
.processinner h3 {
  font-size: 1.5em;
}
.processinner p {
  font-size: 1.25em;
  line-height: 1.5;
}

@media screen and (max-width: 900px) {
  #process {
    margin: 100px 0 80px 0;
  }
  #processouter {
    font-size: 0.5em;
  }
}



/* 会社情報 -------------------------------------------------*/
#info {
  padding: 24px 0;
  padding-bottom: 64px;
  background-color: #6246ea;
}
#info hr {
  background-color: #d1d1e9;
}
#info .title {
  color: #fffffe;
}
#infoouter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}


#info img {
  background-color: #d1d1e9;
  object-fit: cover;
  object-position: 50% 0;
  width: 50%;
  height: 320px;
}

#info dl {
  margin: 0;
  font-size: 1.25em;
  background-color: #fffffe;
  line-height: 1.75;
  width: 50%;


  padding: 32px 32px 16px 32px;
  height: fit-content;
}
#info dt {
  float: left;
  margin-bottom: 16px;
}
#info dd {
  margin-left: 112px;
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  #info .container {
    font-size: 0.5em;
  }
  #info img {
    width: 30%;
    height: 200px;
  }
  #info dl {
    padding: 16px 16px 8px 16px;
  }
  #info dd {
    margin-left: 56px;
  }
}


/* footer --------------------------------------------------*/
footer {
  color: #fffffe;
  background-color: #2b2c34;
  margin: 0;
  padding-top: 10%;
}
#footerinner {
  width: 60%;
  margin: 0 auto;
}
footer h3 {
  margin-bottom: 100px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}
footer ul li {
  width: 40%;
  margin: 10px 0;
  margin-left: 10%;
}
footer a {
  color: #fffffe
  
  ;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 12px 0;
}



@media screen and (max-width: 900px) {
  footer {
    font-size: 0.5em;
  }
  footer h3 {
    margin-bottom: 40px;
  }
  footer ul {
    margin: 40px auto;
  }
}